package pages

import components "crypto-farm/src/components/layout"

type HomeProps struct {
}

templ Home(props HomeProps) {
	@components.Layout() {
		<div class="px-[10%]">
			<div class="flex gap-2.5">
				<div class="h-10 w-10 border-2 border-black"></div>
				<div class="h-10 w-10 border-2 border-black"></div>
				<div class="h-10 w-10 border-2 border-black"></div>
			</div>
		</div>
	}
}
