package components

func src(kind int) string {
	if kind == 0 {
		return "/public/img/pot_empty.png"
	} else if kind == 1 {
		return "/public/img/pot_grow.png"
	}
	return "/public/img/pot_grown.png"
}

templ Pot(kind int) {
	<img
		src={ src(kind) }
		class=""
	/>
}
